.homePageWrapper {
  display: flex;
  height: 100vh;
  overflow-y: overlay;

  .profileWrapper {
    position: sticky;
    top: 0;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .avatar {
      width: 10rem; 
      height: 10rem;
      border-radius: 50%;
    }
  
    .nickName {
      font-size: $font-size-32;
      font-weight: bold;
    }
  }
  
  .contentWrapper {
    flex: 1;
    height: 2000px;
    display: flex;
    gap: 24px;
  }
  
  .footer {
    position: fixed;
    font-weight: bold;
    left: 64px;
    bottom: 64px;
  }
}